* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #90e0ef;
    --common-bg: #48cae4;
}

body {
    background-color: var(--bg-color);
    min-height: 100vh;
    font-family: "Sansita", sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.container>h1 {
    margin-top: 40px;
    font-size: 40px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 40px 0 8px;
}

.search-box {
    background-color: var(--common-bg);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
    border-radius: 12px;
}

.search-box img {
    width: 20px;
    height: 20px;
    margin: 5px;
    color: white;
    object-fit: contain;
}

.search-box input {
    width: 100%;
    background-color: var(--common-bg);
    border: none;
    padding: 8px 16px;
    outline: none;
    color: white;
    font-size: 16px;
}

.btn {
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid transparent;
    padding: 12px;
    flex-grow: 1;
    color: white;
    background-color: var(--common-bg);
    cursor: pointer;
    transition: all ease 0.3s;
}

.btn:hover {
    background-color: white;
    color: var(--common-bg);
    border: 2px solid var(--common-bg);
}

.flights-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 20px 0 0;
}

.ripple-loading {
    min-width: 250px;
    min-height: 250px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    animation: color-change 5s infinite;
}

@keyframes color-change {
    0% {
        color: #8b5cf6;
    }

    25% {
        color: #ef4444;
    }

    50% {
        color: #f59e0b;
    }

    75% {
        color: #10b981;
    }

    100% {
        color: #8b5cf6;
    }
}

.ripple-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid currentColor;
    border-radius: 50%;
    opacity: 0;
    animation: ripple 2s infinite ease-out;
}

.ripple-circle:nth-child(2) {
    animation-delay: 0.6s;
}

.ripple-circle:nth-child(3) {
    animation-delay: 1.2s;
}

@keyframes ripple {
    0% {
        transform: scale(0.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.grid-card {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    color: black;
    background-color: white;
    border-radius: 8px;
    border: 3px solid var(--common-bg);
}

.error-throws {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: white;
    gap: 5px;
    background-color: var(--bg-color);
}

.error-throws p {
    font-size: 64px;
}

#retry-btn {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--common-bg);
}

#retry-btn img {
    min-height: 40px;
    min-width: 40px;
    width: 100%;
    height: 100%;
}