* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Neutral-900: hsl(243, 96%, 9%);
    --Neutral-800: hsl(243, 27%, 20%);
    --Neutral-700: hsl(243, 23%, 24%);
    --Neutral-600: hsl(243, 23%, 30%);
    --Neutral-300: hsl(240, 6%, 70%);
    --Neutral-200: hsl(250, 6%, 84%);
    --Neutral-0: hsl(0, 0%, 100%);

    --Orange-500: hsl(28, 100%, 52%);
    --Blue-500: hsl(233, 67%, 56%);
    --Blue-700: hsl(248, 70%, 36%);
}

body {
    background: var(--Neutral-900);
    padding: 16px 32px;
    font-family: "Bricolage Grotesque", sans-serif;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.container header {
    width: 100%;
    margin-bottom: 32px;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li img {
    width: 100%;
    object-fit: contain;
}

.unit-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--Neutral-600);
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
}

.unit-selection img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.welcome-input-group {
    width: 100%;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.welcome-input-group h1 {
    font-size: 32px;
    color: white;
    margin: 12px 0;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 8px 0;
}

.search-box {
    background-color: var(--Neutral-600);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
    border-radius: 12px;
}

.search-box img {
    width: 20px;
    height: 20px;
    margin: 5px;
    color: white;
    object-fit: contain;
}

.search-box input {
    width: 100%;
    background-color: var(--Neutral-600);
    border: none;
    padding: 8px 16px;
    outline: none;
    color: white;
    font-size: 16px;
}

.btn {
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    padding: 12px;
    flex-grow: 0;
    color: white;
    background-color: var(--Blue-500);
    cursor: pointer;
}

.today-weather {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8px 0;
}

.today-report {
    min-height: 250px;
    min-width: 800px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    position: relative;
    background-color: var(--Neutral-600);
    border-radius: 16px;
}

.report-info {
    width: 100%;
    position: absolute;
    color: white;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.today-report img {
    width: 100%;
    height: 100%;
    min-height: 150px;
    object-fit: cover;
    border-radius: 16px;
}

.location {
    flex-grow: 1;
}

.location h1 {
    font-size: 36px;
    margin: 8px 0;
}

.location p {
    font-size: 18px;
    margin: 8px 0;
    font-weight: bold;
}

.temperature-info {
    flex-grow: 1;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.temperature-info img {
    max-width: 150px;
    width: 100%;
}

.temperature-info h1 {
    font-size: 98px;
    padding: 10px;
    font-weight: 400;
}

.report-more-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 20px;
    flex-wrap: wrap;
}

.more-info {
    background-color: var(--Neutral-600);
    border: 2px solid var(--Neutral-700);
    color: white;
    padding: 16px;
    border-radius: 12px;
    min-width: 200px;
}

.Zoho-loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

@keyframes bounce {
    from {
        transform: translateY(-60px)
    }

    to {
        transform: translateY(0px)
    }
}

.red {
    background-color: red;
    animation-delay: 0s;
}

.green {
    background-color: green;
    animation-delay: 0.25s;
}

.yellow {
    background-color: yellow;
    animation-delay: 0.5s;
}

.blue {
    background-color: blue;
    animation-delay: 0.75s;
}

.error-throws {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: white;
    gap: 5px;
    background-color: var(--Neutral-600);
}

.error-throws p {
    font-size: 64px;
}

#retry-btn {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#retry-btn img {
    min-height: 40px;
    min-width: 40px;
    width: 100%;
    height: 100%;
}

.more-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}